.container{
  background: rgba(255, 255, 255, 0.088);
  width: 30%;
  height: 80%;
  padding: 3rem 2rem 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  border: 1px solid black;
  min-height: 450px;
  min-width: 350px;
}

.search-box{
  position: relative;
  background: #ffffff;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0  0 0 2rem;
  height: 40px;
  margin-bottom: 10px;
}

.search-box input{
  border: none;
  outline: none;
  width: 80%;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
}

.search-box .icon-box{
  height: 100%;
  background-color: rgb(225, 13, 91);
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.search-box img{
  width: 23px;
}

.location{
  text-align: left;
  width: 85%;
  margin-top: 20px;
  margin-bottom: -20px;
}
.location p{
  display: flex;
  text-align: left;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  color: rgb(0, 15, 34);
  font-weight: bold;
}
.location p img{
  width: 16px;
}

.main-weather{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-weather img{
  width: 150px;
}

.temperature{
  font-size: 60px;
  font-weight: 700;
  margin: 20px 0 20px 0;
  color: rgb(0, 4, 61);
}

.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.col{
  background: rgba(0, 0, 0, 0.381);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 30%;
  border-radius: 5px;
}
.col .info{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  color: whitesmoke;
}
.col img{
  width: 30px;
}

.col .type{
  color: #c0cfd7b5;
  margin-top: 10px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorContainer{
  width: 60%;
  height: 20px;
  margin-bottom: 5px;
}
.error-message {
  background: #2e2d2d;
  padding: 3px 16px;
  color: rgb(244, 72, 72);
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  border-radius: 3px;
}

.mainDiv{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seeThrough{
  opacity: 0.3;
}

@media screen and (max-width: 700px) {
.container{
}
}